<div class="PilotProjForm AutoFilledForm">
<h2>{{formTitle}}</h2>
<form>
  <div class="form-group">
    <label for="userIdInput">{{userIdLabel}}</label>
    <input type="number" class="form-control" id="userIdInput" placeholder="User ID"  value="{{UserID}}" readonly="">
  </div>
  <div class="form-group">
    <label for="idInput">{{idLabel}}</label>
    <input type="number" class="form-control" id="idInput" placeholder="ID" value="{{ID}}" readonly="">
  </div>
  <div class="form-group">
    <label for="titleInput">{{titleLabel}}</label>
    <input type="text" class="form-control" id="titleInput" placeholder="Title" value="{{Title}}" readonly="">
  </div>
  <div class="form-group">
    <label for="bodyInput">{{bodyLabel}}</label>
    <textarea class="form-control" id="bodyInput" rows="3" readonly="" >{{Body}}</textarea>
  </div>

</form>
</div>